.verde {
  background-color: #1db198;
  color:antiquewhite;
}

.rojo {
  background-color: #e14444;
  color: antiquewhite;
}

.rojo1 {
  background-color: #98002e;
  color: antiquewhite;
}

.azul {
  background-color: #0F325E;
  color: antiquewhite;
}

.info {
  background-color: #1d80b1;
  color: antiquewhite;
}

.verdeT {
  color:#1db198;
}

.rojoT {
  color:#e14444;
}

.infoT {
  color:#1d80b1;
}
