.clM {
  background: -webkit-linear-gradient(to bottom, #002e5f, #002e5f 66%, #002e5f 20%);
  background: -moz-linear-gradient(to bottom, #002e5f, #002e5f 66%, #002e5f 20%);
  background: -o-linear-gradient(to bottom, #002e5f, #002e5f 66%, #002e5f 20%);
  background: linear-gradient(rgba(0, 48, 99, 1), rgba(0, 48, 99, 0.9));
}

.verde {
  background-color: #1db198;
  color:antiquewhite;
}

.rojo {
  background-color: #e14444;
  color: antiquewhite;
}

.rojo1 {
  background-color: #98002e;
  color: antiquewhite;
}

.azul {
  background-color: #0F325E !important;
  color: antiquewhite !important;
}

.info {
  background-color: #1d80b1;
  color: antiquewhite;
}

.verdeT {
  color:#1db198;
}

.rojoT {
  color:#e14444;
}

.infoT {
  color:#1d80b1;
}

.input {
  background-color: rgba(245,245,245, 0.9);
  border-radius: 20px;
  margin: .5rem 0;
}



