<div class="mt-3 mb-3 mat-expansion-panel">
  <div class="row justify-content-center">
    <div class="col-6 align-items-center">
      <h1 class="text-center m-2">Contabilidad</h1>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="start" [selectedIndex]="selected" dynamicHeight="true">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.detalle">
      <div class="container-fluid">
        <div class="row justify-content-center p-4">
          <div class="col-12" *ngIf="contabilidad.length > 0">
              <app-data-table *ngIf="tab.detalle === 'Solicitudes'" (detalle)="abrirDetalle($event)" [solicitudGeneral]="contabilidad" tipo="contabilidad">
              </app-data-table>
          </div>
          <div class="col-8 alert primary-300" *ngIf="contabilidad.length == 0">
            <div class="row">
              <h3 class="text-center">No hay elementos para mostrar</h3>
            </div>
          </div>
          <div class="col-12" *ngIf="tab.detalle !== 'Solicitudes'">
            <div class="row justify-content-center mb-3">
              <div class="col-6">
                <div class="row justify-content-center">
                  <button matTooltip="Cerrar detalle" (click)="cerrarDetalle([tab.detalle, tab.tipo])" mat-mini-fab color="warn">
                    <mat-icon>closed</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <app-detalle-contabilidad [solicitud]="tab.detalle"></app-detalle-contabilidad>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
