<div class="table-responsive mat-elevation-z8 p-1">
  <table class="table table-light" #dTable>
    <thead>
      <tr>
        <th *ngFor="let col of encabezadosColumnas">
          {{ col }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.producto }}</td>
        <td class="text-center">{{ producto.n_Cantidad }}</td>
        <td>{{ producto.s_Unidad }}</td>
        <td>{{ producto.s_ObservacionesProducto }}</td>
        <td>{{ producto.s_Segmento }}</td>
      </tr>
    </tbody>
  </table>
</div>
