<mat-drawer-container fullscreen>

  <mat-drawer mode="side" [opened]="menuState" class="ex-container">

    <app-side-nav></app-side-nav>

  </mat-drawer>

  <mat-drawer-content>

    <app-header (estado)="cambiaEstado($event)"></app-header>

    <div class="row justify-content-center" cdk-scrollable="false">
      <div class="col-11">

          <router-outlet></router-outlet>

      </div>
    </div>

    <mat-toolbar color="" class="mt-5">
      <div class="spacer"></div>
      <div class="spacer">
        <p class="text-center">© | {{ year }}</p>
      </div>
      <div class="spacer"></div>
    </mat-toolbar>

  </mat-drawer-content>

</mat-drawer-container>
