<!-- <mat-sidenav-container class="sticky-top">

</mat-sidenav-container> -->

<app-header (estado)="cambiaEstado($event)"></app-header>

<mat-drawer-container class="wr-container">
  <mat-drawer mode="side" [opened]="menuState" class="ex-container">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <mat-drawer-content>
    <div class="row m-2">
      <div class="col-12">
        <div class="row mb-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

<footer class="bd-footer">
  <mat-toolbar class="ft">
    <div class="spacer"></div>
    <div class="spacer">
      <p class="text-center">© | {{ year }}</p>
    </div>
    <div class="spacer"></div>
  </mat-toolbar>
</footer>
