<!-- <mat-toolbar color="primary">
  <button mat-icon-button
    [matTooltip]="menuState?'Contraer menú': 'Expandir menú'"
    (click)="ocultaMenu()"
  >
    <mat-icon >{{ menuState? 'menu_open' : 'menu'}}</mat-icon>
  </button>
  <span>Compras</span>
  <span class="spacer"></span>
  <small>{{ nombre | titlecase }}</small>
  <button mat-icon-button>
    <mat-icon>favorit</mat-icon>
  </button>
  <button mat-icon-button
    matTooltip="Salir"
    (click)="salir()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar> -->
<!-- <mat-toolbar color="primary"> -->
  <nav class="navbar sticky-top mc">
    <div class="container-fluid">
      <div>
        <img class="img-thumbnail brand me-2" src="assets/img/mc_logo.png">
        <button mat-icon-button
                [matTooltip]="menuState?'Contraer menú':'Expandir menú'"
                (click)="ocultaMenu()"
        >
          <mat-icon>{{ menuState? 'menu_open': 'menu' }}</mat-icon>
        </button>
        <span class="txtHeader">Compras</span>
      </div>

      <div>
        <span class="me-2 txtHeader">{{nombre | titlecase }}</span>
        <button mat-icon-button matTooltip="Salir"
                (click)="salir()"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </nav>
<!-- </mat-toolbar> -->
